<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="assets/css/main.css">
    <title>About Conference</title>
</head>

<body>
    <!-- topHeader start
========================================== -->
    <div class="topHeader">
        <div class="auto__container">
            <div class="topHeader__inner">
                <div class="info__row">
                    <a href="#" class="info__row-link">
                        <i class="icon-phone"></i>
                        (+993 12) 92 35 52, 92 03 99
                    </a>
                    <a href="#" class="info__row-link">
                        <i class="icon-mail"></i>
                        info@turkmen-forum.com
                    </a>
                </div>
                <div class="social__row">
                    <a href="#" class="social__row-link">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="social__row-link">
                        <i class="icon-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- topHeader end
========================================== -->
    <!-- logoRow start
========================================== -->
    <section class="logoRow">
        <div class="auto__container">
            <div class="logoRow__inner">
                <div class="logoRow__inner-column">
                    <div class="logo__outer">
                        <img src="assets/images/logos/1.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/2.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/3.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/4.png" alt="">
                    </div>
                </div>
                <div class="logoRow__inner-column">
                    <select name="language" id="">
                        <option value="0">Русский</option>
                        <option value="1">English</option>
                        <option value="2">Turkmen</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <!-- logoRow end
========================================== -->
    <!-- header start
========================================== -->
    <header class="header" id="headerSticky">
        <div class="auto__container">
            <div class="header__inner">
                <div class="nav">
                    <div href="#" class="nav__link pop">
                        About Conference
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="aboutConf.html" class="pop__link">
                                About Conference
                            </a>
                            <a href="overview.html" class="pop__link">
                                Market Overview
                            </a>
                            <a href="support.html" class="pop__link">
                                Official Support
                            </a>
                            <a href="speaker.html" class="pop__link">
                                Speakers
                            </a>
                            <a href="#" class="pop__link">
                                Online Conference
                            </a>
                            <a href="portal.html" class="pop__link">
                                Presentation portal
                            </a>
                            <a href="participant.html" class="pop__link">
                                Participating Companies
                            </a>
                            <a href="sponsor.html" class="pop__link">
                                OGT-2020 Sponsors
                            </a>
                            <a href="register.html" class="pop__link">
                                Become a Delegate
                            </a>
                            <a href="#" class="pop__link">
                                Conference Programme
                            </a>
                            <a href="#" class="pop__link">
                                Guide to OGT LIVE
                            </a>
                        </div>
                    </div>
                    <a href="#" class="nav__link">
                        Next Event
                    </a>
                    <div href="#" class="nav__link pop">
                        Past Event
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="event.html" class="pop__link">
                                Event 1
                            </a>
                            <a href="#" class="pop__link">
                                Event 2
                            </a>
                            <a href="#" class="pop__link">
                                Event 3
                            </a>
                            <a href="#" class="pop__link">
                                Event 4
                            </a>
                        </div>
                    </div>
                    <a href="gallery.html" class="nav__link">
                        Photo Gallery
                    </a>
                    <a href="news.html" class="nav__link">
                        News
                    </a>
                    <a href="contact.html" class="nav__link">
                        Contact us
                    </a>
                </div>

            </div>
        </div>
    </header>
    <!-- header end
========================================== -->
    <!-- mobileHeader start
======================================== -->
    <section class="mobileHeader">
        <div class="mobileHeader__inner">
            <div class="mobileLogo__row">
                <div class="mobileLogo">
                    <img src="assets/images/logos/1.png" alt="">
                </div>
            </div>
            <div class="mobileBtns">
                <button class="popBtn" id="mobileMenuBtn">
                    <img src="assets/images/Union 1.svg" alt="">
                </button>
            </div>
        </div>
    </section>
    <!-- mobileHeader end
======================================== -->
    <!-- mobileMenu start 
========================================= -->
    <section class="pop" id="mobileMenu">
        <div class="popClose" id="mobileMenuClose">
            <img src="assets/images/Close Black.svg" alt="">
        </div>
        <div class="pop__inner">
            <div class="mobile__nav">
                <a href="#" class="mobile__nav-link" onclick="showMore()">
                    About Conference
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList">
                    <a href="aboutConf.html" class="dropDown__link">
                        About Conference
                    </a>
                    <a href="overview.html" class="dropDown__link">
                        Market Overview
                    </a>
                    <a href="support.html" class="dropDown__link">
                        Official Support
                    </a>
                    <a href="speaker.html" class="dropDown__link">
                        Speakers
                    </a>
                    <a href="#" class="dropDown__link">
                        Online Conference
                    </a>
                    <a href="portal.html" class="dropDown__link">
                        Presentation portal
                    </a>
                    <a href="participant.html" class="dropDown__link">
                        Participating Companies
                    </a>
                    <a href="sponsor.html" class="dropDown__link">
                        OGT-2020 Sponsors
                    </a>
                    <a href="register.html" class="dropDown__link">
                        Become a Delegate
                    </a>
                    <a href="#" class="dropDown__link">
                        Conference Programme
                    </a>
                    <a href="#" class="dropDown__link">
                        Guide to OGT LIVE
                    </a>
                </div>
                <a href="#" class="mobile__nav-link">
                    Next Event
                </a>
                <a href="#" class="mobile__nav-link" onclick="showMore2()">
                    Past Event
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList2">
                    <a href="event.html" class="dropDown__link">
                        Event 1
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 2
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 3
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 4
                    </a>
                </div>
                <a href="gallery.html" class="mobile__nav-link">
                    Photo Gallery
                </a>
                <a href="news.html" class="mobile__nav-link">
                    News
                </a>
                <a href="contact.html" class="mobile__nav-link">
                    Contact us
                </a>
            </div>
        </div>
    </section>
    <!-- mobileMenu end 
========================================= -->
    <!-- event start
========================================== -->
    <section class="hero__3" id="feature">
        <div class="auto__container">
            <div class="hero__3__inner">
                <div class="title">
                    О Конференции
                </div>
            </div>
        </div>
    </section>
    <!-- event end
========================================== -->
    <!-- conf start
========================================== -->
    <section class="other">
        <div class="auto__container">
            <div class="other__inner">
                <div class="title">
                    Международная конференция «Устойчивое сотрудничество в энергетической сфере - важное условие для
                    всеобщего развития», приуроченная к 25-й юбилейной годовщине постоянного Нейтралитета Туркменистана,
                    и посвященной энергетической дипломатии Туркменистана
                </div>
                <div class="text__outer">
                    <p class="para">
                        Научно-практическая конференция «Устойчивое сотрудничество в энергетической сфере-важное условие
                        для
                        всеобщего развития», приуроченная к 25-й юбилейной годовщине постоянного Нейтралитета
                        Туркменистана,
                        и
                        посвященной энергетической дипломатии Туркменистана, состоится 1 декабря 2020 года в
                        конференц-зале
                        НИИ
                        ГК «Туркменгаз», Ашхабад, Туркменистан.
                    </p>
                    <p class="para">
                        Организаторы конференции ГК «Туркменгаз» и ГК «Туркменнебит» в партнерстве с Туркмен Форум
                        планируют
                        собрать ведущие национальные и международные нефтегазовые компании, а также экспертов, которые
                        определяют будущее нефтегазовой отрасли не только в Туркменистане, но и в более широком
                        «центральноазиатском» регионе. Конференция станет платформой, на которой эксперты представят
                        свои
                        взгляды на устойчивое сотрудничество в энергетическом секторе, 25-летие постоянного нейтралитета
                        и
                        энергетическую дипломатию Туркменистана.
                    </p>
                    <p class="para">
                        Учитывая важную роль нефти и природного газа в обеспечении энергетической безопасности в мире,
                        эта
                        международная конференция будет способствовать обмену мнениями с отраслевыми экспертами, а также
                        установлению прямого диалога с высшим руководством нефтегазовой отрасли Туркменистана. В рамках
                        конференции по запросу будут организованы индивидуальные встречи с высшим руководством
                        нефтегазового
                        комплекса Туркменистана.
                    </p>
                    <p class="para">
                        В связи с ограничениями на международные поездки конференция также будет представлена в
                        онлайн-формате.
                        Это обеспечит полный доступ к материалам конференции и индивидуальным встречам с руководителями
                        нефтегазовой отрасли Туркменистана. Участие в конференции бесплатное.
                    </p>
                    <p class="para">
                        В рамках конференции по запросу будут организованы индивидуальные встречи с высшим руководством
                        нефтегазового комплекса Туркменистана.
                    </p>
                    <p class="para">
                        Для участия в Конференции, необходимо предоставить следующие формы и документы по электронной
                        почте:
                    </p>
                    <p class="para">
                        1) Форма информации о компании

                    </p>
                    <p class="para">
                        2) Цветная копия загранпаспорта
                    </p>
                    <p class="para">
                        Крайний срок подачи заявок: пятница, 27 ноября 2020 года.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- conf start
========================================== -->
    <!-- footer start
========================================== -->
    <footer class="footer">
        © OGT 2020. Все права защищены
    </footer>
    <!-- footer end
========================================== -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/tilt.jquery.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/lazyLoad.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>