<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Review</title>
</head>

<body>
    <!-- topHeader start
========================================== -->
    <div class="topHeader">
        <div class="auto__container">
            <div class="topHeader__inner">
                <div class="info__row">
                    <a href="#" class="info__row-link">
                        <i class="icon-phone"></i>
                        (+993 12) 92 35 52, 92 03 99
                    </a>
                    <a href="#" class="info__row-link">
                        <i class="icon-mail"></i>
                        info@turkmen-forum.com
                    </a>
                </div>
                <div class="social__row">
                    <a href="#" class="social__row-link">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="social__row-link">
                        <i class="icon-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- topHeader end
========================================== -->
    <!-- logoRow start
========================================== -->
    <section class="logoRow">
        <div class="auto__container">
            <div class="logoRow__inner">
                <div class="logoRow__inner-column">
                    <div class="logo__outer">
                        <img src="assets/images/logos/1.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/2.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/3.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/4.png" alt="">
                    </div>
                </div>
                <div class="logoRow__inner-column">
                    <select name="language" id="">
                        <option value="0">Русский</option>
                        <option value="1">English</option>
                        <option value="2">Turkmen</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <!-- logoRow end
========================================== -->
    <!-- header start
========================================== -->
    <header class="header" id="headerSticky">
        <div class="auto__container">
            <div class="header__inner">
                <div class="nav">
                    <div href="#" class="nav__link pop">
                        About Conference
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="aboutConf.html" class="pop__link">
                                About Conference
                            </a>
                            <a href="overview.html" class="pop__link">
                                Market Overview
                            </a>
                            <a href="support.html" class="pop__link">
                                Official Support
                            </a>
                            <a href="speaker.html" class="pop__link">
                                Speakers
                            </a>
                            <a href="#" class="pop__link">
                                Online Conference
                            </a>
                            <a href="portal.html" class="pop__link">
                                Presentation portal
                            </a>
                            <a href="participant.html" class="pop__link">
                                Participating Companies
                            </a>
                            <a href="sponsor.html" class="pop__link">
                                OGT-2020 Sponsors
                            </a>
                            <a href="register.html" class="pop__link">
                                Become a Delegate
                            </a>
                            <a href="#" class="pop__link">
                                Conference Programme
                            </a>
                            <a href="#" class="pop__link">
                                Guide to OGT LIVE
                            </a>
                        </div>
                    </div>
                    <a href="#" class="nav__link">
                        Next Event
                    </a>
                    <div href="#" class="nav__link pop">
                        Past Event
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="event.html" class="pop__link">
                                Event 1
                            </a>
                            <a href="#" class="pop__link">
                                Event 2
                            </a>
                            <a href="#" class="pop__link">
                                Event 3
                            </a>
                            <a href="#" class="pop__link">
                                Event 4
                            </a>
                        </div>
                    </div>
                    <a href="gallery.html" class="nav__link">
                        Photo Gallery
                    </a>
                    <a href="news.html" class="nav__link">
                        News
                    </a>
                    <a href="contact.html" class="nav__link">
                        Contact us
                    </a>
                </div>

            </div>
        </div>
    </header>
    <!-- header end
========================================== -->
    <!-- mobileHeader start
======================================== -->
    <section class="mobileHeader">
        <div class="mobileHeader__inner">
            <div class="mobileLogo__row">
                <div class="mobileLogo">
                    <img src="assets/images/logos/1.png" alt="">
                </div>
            </div>
            <div class="mobileBtns">
                <button class="popBtn" id="mobileMenuBtn">
                    <img src="assets/images/Union 1.svg" alt="">
                </button>
            </div>
        </div>
    </section>
    <!-- mobileHeader end
======================================== -->
    <!-- mobileMenu start
========================================= -->
    <section class="pop" id="mobileMenu">
        <div class="popClose" id="mobileMenuClose">
            <img src="assets/images/Close Black.svg" alt="">
        </div>
        <div class="pop__inner">
            <div class="mobile__nav">
                <a href="#" class="mobile__nav-link" onclick="showMore()">
                    About Conference
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList">
                    <a href="aboutConf.html" class="dropDown__link">
                        About Conference
                    </a>
                    <a href="overview.html" class="dropDown__link">
                        Market Overview
                    </a>
                    <a href="support.html" class="dropDown__link">
                        Official Support
                    </a>
                    <a href="speaker.html" class="dropDown__link">
                        Speakers
                    </a>
                    <a href="#" class="dropDown__link">
                        Online Conference
                    </a>
                    <a href="portal.html" class="dropDown__link">
                        Presentation portal
                    </a>
                    <a href="participant.html" class="dropDown__link">
                        Participating Companies
                    </a>
                    <a href="sponsor.html" class="dropDown__link">
                        OGT-2020 Sponsors
                    </a>
                    <a href="register.html" class="dropDown__link">
                        Become a Delegate
                    </a>
                    <a href="#" class="dropDown__link">
                        Conference Programme
                    </a>
                    <a href="#" class="dropDown__link">
                        Guide to OGT LIVE
                    </a>
                </div>
                <a href="#" class="mobile__nav-link">
                    Next Event
                </a>
                <a href="#" class="mobile__nav-link" onclick="showMore2()">
                    Past Event
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList2">
                    <a href="event.html" class="dropDown__link">
                        Event 1
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 2
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 3
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 4
                    </a>
                </div>
                <a href="gallery.html" class="mobile__nav-link">
                    Photo Gallery
                </a>
                <a href="news.html" class="mobile__nav-link">
                    News
                </a>
                <a href="contact.html" class="mobile__nav-link">
                    Contact us
                </a>
            </div>
        </div>
    </section>
    <!-- mobileMenu end
========================================= -->
    <!-- event start
========================================== -->
    <section class="hero__3" id="feature">
        <div class="auto__container">
            <div class="hero__3__inner">
                <div class="title">
                    Submit your feedback
                </div>
            </div>
        </div>
    </section>
    <!-- event end
========================================== -->
    <!-- conf start
========================================== -->
    <section class="other">
        <div class="auto__container">
            <div class="other__inner">
                <h1 class="review_title">
                    Thank you for tuning in to OGT. <br>
                    Complete our short survey to help us to improve the quality of our future events.
                </h1>
                <h1 class="review_title">
                    Please provide the following information:
                </h1>

                <form action="#" class="review_form">
                    <div class="review_form-box">
                        <div class="review_form-input">
                            <input type="text" name="name" placeholder="Name">
                        </div>

                        <div class="review_form-input">
                            <input type="text" name="organization" placeholder="Organization">
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            1.How would you rate the quality of the agenda & speakers throughout the day?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Poor
                            </p>
                            <p class="review_form-text">
                                Excellent
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-1" name="rate-1">
                                <label class="review_label" for="check-1">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-2" name="rate-1">
                                <label class="review_label" for="check-2">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-3" name="rate-1">
                                <label class="review_label" for="check-3">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-4" name="rate-1">
                                <label class="review_label" for="check-4">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-5" name="rate-1">
                                <label class="review_label" for="check-5">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-6" name="rate-1">
                                <label class="review_label" for="check-6">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-7" name="rate-1">
                                <label class="review_label" for="check-7">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-8" name="rate-1">
                                <label class="review_label" for="check-8">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-9" name="rate-1">
                                <label class="review_label" for="check-9">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-10" name="rate-1">
                                <label class="review_label" for="check-10">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            2.Did you find the sessions at OGT insightful and informative?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Not insightful and informative at all
                            </p>
                            <p class="review_form-text">
                                Extremely insightful and informative
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-11" name="rate-2">
                                <label class="review_label" for="check-11">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-21" name="rate-2">
                                <label class="review_label" for="check-21">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-31" name="rate-2">
                                <label class="review_label" for="check-31">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-41" name="rate-2">
                                <label class="review_label" for="check-41">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-51" name="rate-2">
                                <label class="review_label" for="check-51">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-61" name="rate-2">
                                <label class="review_label" for="check-61">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-71" name="rate-2">
                                <label class="review_label" for="check-71">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-81" name="rate-2">
                                <label class="review_label" for="check-81">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-91" name="rate-2">
                                <label class="review_label" for="check-91">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-101" name="rate-2">
                                <label class="review_label" for="check-101">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            3.How would you rate the quality of presentations throughout the conference?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Poor
                            </p>
                            <p class="review_form-text">
                                Excellent
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-12" name="rate-3">
                                <label class="review_label" for="check-12">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-22" name="rate-3">
                                <label class="review_label" for="check-22">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-32" name="rate-3">
                                <label class="review_label" for="check-32">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-42" name="rate-3">
                                <label class="review_label" for="check-42">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-52" name="rate-3">
                                <label class="review_label" for="check-52">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-62" name="rate-3">
                                <label class="review_label" for="check-62">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-72" name="rate-3">
                                <label class="review_label" for="check-72">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-82" name="rate-3">
                                <label class="review_label" for="check-82">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-92" name="rate-3">
                                <label class="review_label" for="check-92">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-102" name="rate-3">
                                <label class="review_label" for="check-102">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            4.How easy did you find the sign up process to OGT2021?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Not easy at all
                            </p>
                            <p class="review_form-text">
                                Extremely easy
                            </p>
                        </div>
                        <div class="review_form-mark">

                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-13" name="rate-4">
                                <label class="review_label" for="check-13">
                                    1
                                </label>
                            </div>

                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-23" name="rate-4">
                                <label class="review_label" for="check-23">
                                    2
                                </label>
                            </div>

                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-33" name="rate-4">
                                <label class="review_label" for="check-33">
                                    3
                                </label>
                            </div>

                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-43" name="rate-4">
                                <label class="review_label" for="check-43">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-53" name="rate-4">
                                <label class="review_label" for="check-53">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-63" name="rate-4">
                                <label class="review_label" for="check-63">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-73" name="rate-4">
                                <label class="review_label" for="check-73">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-83" name="rate-4">
                                <label class="review_label" for="check-83">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-93" name="rate-4">
                                <label class="review_label" for="check-93">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-103" name="rate-4">
                                <label class="review_label" for="check-103">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            5.How did you find the quality of Live Streaming ?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Not responsive and smooth at all
                            </p>
                            <p class="review_form-text">
                                Extremely responsive and smooth
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-14" name="rate-5">
                                <label class="review_label" for="check-14">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-24" name="rate-5">
                                <label class="review_label" for="check-24">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-34" name="rate-5">
                                <label class="review_label" for="check-34">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-44" name="rate-5">
                                <label class="review_label" for="check-44">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-54" name="rate-5">
                                <label class="review_label" for="check-54">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-64" name="rate-5">
                                <label class="review_label" for="check-64">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-74" name="rate-5">
                                <label class="review_label" for="check-74">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-84" name="rate-5">
                                <label class="review_label" for="check-84">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-94" name="rate-5">
                                <label class="review_label" for="check-94">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-104" name="rate-5">
                                <label class="review_label" for="check-104">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            6.Do you have any comments on how we could improve the sign-up process?
                        </h4>
                        <div class="review_form-message">
                            <textarea placeholder="Your message"></textarea>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            7.How satisfied are you with the venue and facilities of the event? (for physical presence
                            participants)
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Not satisfied at all
                            </p>
                            <p class="review_form-text">
                                Fully satisfied
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-15" name="rate-6">
                                <label class="review_label" for="check-15">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-25" name="rate-6">
                                <label class="review_label" for="check-25">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-35" name="rate-6">
                                <label class="review_label" for="check-35">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-45" name="rate-6">
                                <label class="review_label" for="check-45">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-55" name="rate-6">
                                <label class="review_label" for="check-55">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-65" name="rate-6">
                                <label class="review_label" for="check-65">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-75" name="rate-6">
                                <label class="review_label" for="check-75">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-85" name="rate-6">
                                <label class="review_label" for="check-85">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-95" name="rate-6">
                                <label class="review_label" for="check-95">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-105" name="rate-6">
                                <label class="review_label" for="check-105">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            8.How would you rate the quality of catering services throughout the conference? (for
                            physical presence participants)
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Poor
                            </p>
                            <p class="review_form-text">
                                Excellent
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-16" name="rate-7">
                                <label class="review_label" for="check-16">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-26" name="rate-7">
                                <label class="review_label" for="check-26">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-36" name="rate-7">
                                <label class="review_label" for="check-36">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-46" name="rate-7">
                                <label class="review_label" for="check-46">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-56" name="rate-7">
                                <label class="review_label" for="check-56">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-66" name="rate-7">
                                <label class="review_label" for="check-66">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-76" name="rate-7">
                                <label class="review_label" for="check-76">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-86" name="rate-7">
                                <label class="review_label" for="check-86">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-96" name="rate-7">
                                <label class="review_label" for="check-96">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-106" name="rate-7">
                                <label class="review_label" for="check-106">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            9.How satisfied are you with the quality of the networking opportunities?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Not satisfied at all
                            </p>
                            <p class="review_form-text">
                                Fully satisfied
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-17" name="rate-8">
                                <label class="review_label" for="check-17">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-27" name="rate-8">
                                <label class="review_label" for="check-27">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-37" name="rate-8">
                                <label class="review_label" for="check-37">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-47" name="rate-8">
                                <label class="review_label" for="check-47">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-57" name="rate-8">
                                <label class="review_label" for="check-57">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-67" name="rate-8">
                                <label class="review_label" for="check-67">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-77" name="rate-8">
                                <label class="review_label" for="check-77">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-87" name="rate-8">
                                <label class="review_label" for="check-87">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-97" name="rate-8">
                                <label class="review_label" for="check-97">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-107" name="rate-8">
                                <label class="review_label" for="check-107">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            10.How did you find the quality of Post Conference support?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Poor
                            </p>
                            <p class="review_form-text">
                                Excellent
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-18" name="rate-9">
                                <label class="review_label" for="check-18">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-28" name="rate-9">
                                <label class="review_label" for="check-28">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-38" name="rate-9">
                                <label class="review_label" for="check-38">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-48" name="rate-9">
                                <label class="review_label" for="check-48">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-58" name="rate-9">
                                <label class="review_label" for="check-58">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-68" name="rate-9">
                                <label class="review_label" for="check-68">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-78" name="rate-9">
                                <label class="review_label" for="check-78">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-88" name="rate-9">
                                <label class="review_label" for="check-88">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-98" name="rate-9">
                                <label class="review_label" for="check-98">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-108" name="rate-9">
                                <label class="review_label" for="check-108">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            11.How likely are you to recommend OGT to a colleague or friend?
                        </h4>
                        <div class="review_form-row">
                            <p class="review_form-text">
                                Not at all likely
                            </p>
                            <p class="review_form-text">
                                Extremely likely
                            </p>
                        </div>
                        <div class="review_form-mark">
                            <div class="review_form-mark-item">
                                <input data-check="1" type="checkbox" id="check-19" name="rate-10">
                                <label class="review_label" for="check-19">
                                    1
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="2" type="checkbox" id="check-29" name="rate-10">
                                <label class="review_label" for="check-29">
                                    2
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="3" type="checkbox" id="check-39" name="rate-10">
                                <label class="review_label" for="check-39">
                                    3
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="4" type="checkbox" id="check-49" name="rate-10">
                                <label class="review_label" for="check-49">
                                    4
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="5" type="checkbox" id="check-59" name="rate-10">
                                <label class="review_label" for="check-59">
                                    5
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="6" type="checkbox" id="check-69" name="rate-10">
                                <label class="review_label" for="check-69">
                                    6
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="7" type="checkbox" id="check-79" name="rate-10">
                                <label class="review_label" for="check-79">
                                    7
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="8" type="checkbox" id="check-89" name="rate-10">
                                <label class="review_label" for="check-89">
                                    8
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="9" type="checkbox" id="check-99" name="rate-10">
                                <label class="review_label" for="check-99">
                                    9
                                </label>
                            </div>
                            <div class="review_form-mark-item">
                                <input data-check="10" type="checkbox" id="check-109" name="rate-10">
                                <label class="review_label" for="check-109">
                                    10
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="review_form-group">
                        <h4 class="review_form-title">
                            Are there any additional comments you have on how we could improve for future events?
                        </h4>
                        <div class="review_form-message">
                            <textarea placeholder="Your message"></textarea>
                        </div>
                    </div>

                    <button class="review_btn">
                        Отправить отзыв
                    </button>

                </form>

            </div>
        </div>
    </section>
    <!-- conf start
========================================== -->
    <!-- footer start
========================================== -->
    <footer class="footer">
        © OGT 2020. Все права защищены
    </footer>
    <!-- footer end
========================================== -->

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/tilt.jquery.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/lazyLoad.js"></script>
    <script src="assets/js/main.js"></script>



    <script>


        $("input[type='checkbox']").change(function () {

            let checked = $(this).attr("data-check");
            $(this).parent().parent().find("input[type='checkbox']").prop("checked", false)

            $(this).parent().parent().find("input[type='checkbox']").each((i, elem) => {
                if(parseInt($(elem).attr("data-check")) <= parseInt(checked) ) {
                    $(elem).prop("checked", true );
                }
            })
        })


    </script>


</body>

</html>
