title = "Home"
url = "/"
layout = "landing"
is_hidden = 0

[ogtEvent]
slug = "{{ :slug }}"
type = 1

[countdown]
countdown = 1

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "contact-us"
postPage = "contact-us"
==
<?php
function onInit(){
    $countdown = $this->components['countdown'];
    $ogt = $this->page->components['ogtEvent'];

    if($countdown && $ogt){
        $date = $ogt->event->created_at;
        $countdown->setProperty('date',$date->format('Y/m/d H:i:s'));
    }

    $video_folder = '/video/';
    $mediaLib = \System\Classes\MediaLibrary::instance();

    $images = $mediaLib->listFolderContents($video_folder,false,'image',true);
    $videos = $mediaLib->listFolderContents($video_folder,false,'video',true);

    if($images && $videos){

        $this['poster'] = $images[0];
        $this['video'] = $videos[0];
    }

}
?>
==
<!-- hero start
========================================== -->
<section class="hero" id="feature">
    <a href="{{'event'|page({slug:'ogt-next'})}}" class="next__event">
        {{'home.next_event'|_}}
        <i class="icon-chevronRight"></i>
    </a>
    <div class="auto__container">
        <div class="hero__inner">
            <div class="timer__row">
                {% component 'countdown' %}
            </div>

            {{event.description|raw}}
            <div class="btn__row wow fadeInUp">
                <a href="{{'registration'|page}}" class="hero__btn">
                    {{'home.register'|_}}
                </a>
                <a href="{{'online-conference'|staticPage}}" class="hero__btn">
                    {{'home.online_conference'|_}}
                </a>
                {% if event.event_program %}
                <a href="{{event.event_program.path}}" class="hero__btn" download>
                    {{'event.program'|_}}
                </a>
                {% endif %}
            </div>

        </div>
    </div>
</section>
<!-- hero end
========================================== -->
<!-- about start
========================================== -->
<section class="about">
    <div class="auto__container">
        <div class="about__inner">
            <div class="content__row">
                <div class="content__column wow fadeInLeft">
                    <div class="uptitle">
                        {{'home.about_event'|_}}
                    </div>
                    <div class="title">
                        {{event.name}}
                    </div>
                    {% content 'index/quote' %}
                </div>
                {% if video %}
                <div class="content__video wow fadeInRight">
                    <video class="video" src="{{video.path|media}}" poster="{{poster.path|media}}"></video>
                    <div class="playpause"></div>
                </div>
                {% endif %}
            </div>

            {% content 'index/about' %}

            <a href="#" class="more wow fadeInUp">
                {{'home.detail'|_}}
            </a>
            <div class="theme wow fadeInUp">
                {% content 'index/main_topic' %}
            </div>
        </div>
    </div>
</section>
<!-- about end
========================================== -->
<!-- spiker start
========================================== -->
<section class="spiker">
    <div class="auto__container">
        <div class="spiker__inner">
            <div class="title wow fadeInUp">
                {{'home.speakers'|_}}
            </div>
            <div class="spiker__grid ">
                {% for spiker in event.spikers.slice(0,8) %}
                <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                    <a href="{{spiker.bg_white|media}}" class="image__outer primary progressive replace">
                        <img class="preview" src="{{'assets/images/lazy.jpg'|theme}}" alt="">
                    </a>
                    <a href="{{'speaker'|page({id:spiker.id})}}" class="info">
                        <div class="name">
                            {{spiker.name}}
                        </div>
                        <div class="position">
                            {{spiker.title}}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <a href="{{'speaker'|page}}" class="spiker__btn wow fadeInUp">
                {{'home.all_speakers'|_}}
            </a>
        </div>
    </div>
</section>
<!-- spiker end
========================================== -->
<!-- partner start
========================================== -->
<section class="partner">
    {% partial 'sponsors' sponsors = event.sponsors%}
</section>
<!-- partner end
========================================== -->
<!-- news start
========================================== -->
<section class="news">
    <div class="auto__container">
        <div class="news__inner">
            <div class="title">
                Новости
            </div>
            <div class="news__row">
                {% partial 'news_item' post = posts.first class = 'wow fadeInLeft'%}
                {% partial 'news_item' post = posts.second class = 'wow fadeInUp'%}
                {% partial 'news_item' post = posts.last class = 'wow fadeInRight'%}
            </div>
        </div>
    </div>
</section>
<!-- news end
========================================== -->
<!-- locate start
========================================== -->
<section class="locate">
    <div class="auto__container">
        <div class="locate__inner">
            <div class="title wow fadeInLeft">
                {{'event.venue'|_}}
            </div>
            <div class="locate__row">
                {% partial 'venue' %}
                <a href="{{event.place.path}}" class="locate__image primary progressive replace">
                    <img src="{{'assets/images/lazy.jpg'|theme}}" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- locate end
========================================== -->
{% put scripts %}
<script src="{{ 'assets/js/tilt.jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/js/wow.js'|theme }}"></script>
<script src="{{ 'assets/js/lazyLoad.js'|theme }}"></script>
<script>
    $('.video').parent().click(function () {
        if ($(this).children(".video").get(0).paused) {
            $(this).children(".video").get(0).play();
            $(this).children(".playpause").fadeOut();
        } else {
            $(this).children(".video").get(0).pause();
            $(this).children(".playpause").fadeIn();
        }
    });
    // wow js
    // ========================================

    // wow js end
    // ========================================
</script>
{% endput %}
