title = "News"
url = "/news"
layout = "main"
is_hidden = 0

[blogPosts news]
pageNumber = "{{ :page }}"
postsPerPage = 12
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "event"
postPage = "post"
==
<div class="news__row">
    {% for post in news.posts %}
    <div class="news__column">
        <div class="image__outer">
            <img src="{{post.featured_images.first.thumb(100,100)}}" alt="post.featured_images.first.title">
            <div class="date">
                {{post.published_at|date('d')}}
                <br> <span>{{post.published_at|date('M')}}</span>
            </div>
        </div>
        <a class="title" href="{{post.url}}">
            {{post.title}}
        </a>
    </div>
    {% endfor %}
</div>
{% if results.hasPages %}

<div class="news__footer">

    <a class="prev" href="{{posts.previousPageUrl}}">
        <i class="icon-chevronRight"></i>
        {{'page.prev'|_}}
    </a>
    <div class="number__row">

        {% for page in range(1, results.lastPage) %}
        <a class="number {% if page == posts.currentPage %}active {% endif %}" href="{{ results.url(page) }}">
            {{page}}
        </a>
        {% endfor %}

    </div>
    <a class="next" href="{{posts.nextPageUrl}}" >
        {{'page.next'|_}}
        <i class="icon-chevronRight"></i>
    </a>
</div>
{% endif %}
