title = "News"
url = "/news"
layout = "main"
is_hidden = 0

[blogPosts news]
pageNumber = "{{ :page }}"
postsPerPage = 12
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "event"
postPage = "post"
==
<div class="news__row">
    {% for post in news.posts %}
        {% partial 'news_item' %}
    {% endfor %}
</div>
{% if results.hasPages %}

<div class="news__footer">

    <a class="prev" href="{{posts.previousPageUrl}}">
        <i class="icon-chevronRight"></i>
        {{'page.prev'|_}}
    </a>
    <div class="number__row">

        {% for page in range(1, results.lastPage) %}
        <a class="number {% if page == posts.currentPage %}active {% endif %}" href="{{ results.url(page) }}">
            {{page}}
        </a>
        {% endfor %}

    </div>
    <a class="next" href="{{posts.nextPageUrl}}" >
        {{'page.next'|_}}
        <i class="icon-chevronRight"></i>
    </a>
</div>
{% endif %}
