[viewBag]
==
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ this.page.meta_title | default(this.theme.site)}}">
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="canonical" content="{{ this.page.meta_canonical }}">
    <meta name="keywords" content="{{ this.page.meta_keywords }}">
    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>{{ this.page.title | default(this.page.meta_title)}}</title>
    {% styles %}
    <link href="{{ 'assets/css/main.css'|theme }}" rel="stylesheet">

</head>
