<!-- event start
========================================== -->
<section class="hero__3" id="feature">
    <div class="auto__container">
        <div class="hero__3__inner">
            <div class="title">
                {{title}}
            </div>
        </div>
    </div>
</section>
<!-- event end
========================================== -->
<section class="other">
    <div class="auto__container">
        <div class="other__inner">
            {% page %}
        </div>
    </div>
</section>
