description = "main layout"

[localePicker]
forceUrl = 1

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="{{activeLocale}}">
{% partial 'head' %}
<body>
{% partial 'header'%}
    <section class="hero__3" id="feature">
        <div class="auto__container">
            {% placeholder topTitle default %}
            <div class="hero__3__inner">
                <div class="title">
                    {{title|default(this.page.title)}}
                </div>
            </div>
            {% endplaceholder %}
        </div>
        {% placeholder mouse %}
    </section>
    <section class="other">
        <div class="auto__container">
            <div class="other__inner">
                {% page %}
            </div>
        </div>
    </section>
{% partial 'footer'%}
</body>
</html>
