<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Home</title>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Page Preloder -->
    <!-- topHeader start
========================================== -->
    <div class="topHeader">
        <div class="auto__container">
            <div class="topHeader__inner">
                <div class="info__row">
                    <a href="#" class="info__row-link">
                        <i class="icon-phone"></i>
                        (+993 12) 92 35 52, 92 03 99
                    </a>
                    <a href="#" class="info__row-link">
                        <i class="icon-mail"></i>
                        info@turkmen-forum.com
                    </a>
                </div>
                <div class="social__row">
                    <a href="#" class="social__row-link">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="social__row-link">
                        <i class="icon-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- topHeader end
========================================== -->
    <!-- logoRow start
========================================== -->
    <section class="logoRow">
        <div class="auto__container">
            <div class="logoRow__inner">
                <div class="logoRow__inner-column">
                    <div class="logo__outer">
                        <img src="assets/images/logos/1.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/2.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/3.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/4.png" alt="">
                    </div>
                </div>
                <div class="logoRow__inner-column">
                    <select name="language" id="">
                        <option value="0">Русский</option>
                        <option value="1">English</option>
                        <option value="2">Turkmen</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <!-- logoRow end
========================================== -->
    <!-- header start
========================================== -->
    <header class="header" id="headerSticky">
        <div class="auto__container">
            <div class="ham">

            </div>
            <div class="header__inner">
                <div class="nav">
                    <div href="#" class="nav__link pop">
                        About Conference
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="aboutConf.html" class="pop__link">
                                About Conference
                            </a>
                            <a href="overview.html" class="pop__link">
                                Market Overview
                            </a>
                            <a href="support.html" class="pop__link">
                                Official Support
                            </a>
                            <a href="speaker.html" class="pop__link">
                                Speakers
                            </a>
                            <a href="#" class="pop__link">
                                Online Conference
                            </a>
                            <a href="portal.html" class="pop__link">
                                Presentation portal
                            </a>
                            <a href="participant.html" class="pop__link">
                                Participating Companies
                            </a>
                            <a href="sponsor.html" class="pop__link">
                                OGT-2020 Sponsors
                            </a>
                            <a href="register.html" class="pop__link">
                                Become a Delegate
                            </a>
                            <a href="#" class="pop__link">
                                Conference Programme
                            </a>
                            <a href="#" class="pop__link">
                                Guide to OGT LIVE
                            </a>
                        </div>
                    </div>
                    <a href="#" class="nav__link">
                        Next Event
                    </a>
                    <div href="#" class="nav__link pop">
                        Past Event
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="event.html" class="pop__link">
                                Event 1
                            </a>
                            <a href="#" class="pop__link">
                                Event 2
                            </a>
                            <a href="#" class="pop__link">
                                Event 3
                            </a>
                            <a href="#" class="pop__link">
                                Event 4
                            </a>
                        </div>
                    </div>
                    <a href="gallery.html" class="nav__link">
                        Photo Gallery
                    </a>
                    <a href="news.html" class="nav__link">
                        News
                    </a>
                    <a href="contact.html" class="nav__link">
                        Contact us
                    </a>
                </div>

            </div>
        </div>
    </header>
    <!-- header end
========================================== -->
    <!-- mobileHeader start
======================================== -->
    <section class="mobileHeader">
        <div class="mobileHeader__inner">
            <div class="mobileLogo__row">
                <div class="mobileLogo">
                    <img src="assets/images/logos/1.png" alt="">
                </div>
            </div>
            <div class="mobileBtns">
                <button class="popBtn" id="mobileMenuBtn">
                    <img src="assets/images/Union 1.svg" alt="">
                </button>
            </div>
        </div>
    </section>
    <!-- mobileHeader end
======================================== -->
    <!-- mobileMenu start 
========================================= -->
    <section class="pop" id="mobileMenu">
        <div class="popClose" id="mobileMenuClose">
            <img src="assets/images/Close Black.svg" alt="">
        </div>
        <div class="pop__inner">
            <div class="mobile__nav">
                <a href="#" class="mobile__nav-link" onclick="showMore()">
                    About Conference
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList">
                    <a href="aboutConf.html" class="dropDown__link">
                        About Conference
                    </a>
                    <a href="overview.html" class="dropDown__link">
                        Market Overview
                    </a>
                    <a href="support.html" class="dropDown__link">
                        Official Support
                    </a>
                    <a href="speaker.html" class="dropDown__link">
                        Speakers
                    </a>
                    <a href="#" class="dropDown__link">
                        Online Conference
                    </a>
                    <a href="portal.html" class="dropDown__link">
                        Presentation portal
                    </a>
                    <a href="participant.html" class="dropDown__link">
                        Participating Companies
                    </a>
                    <a href="sponsor.html" class="dropDown__link">
                        OGT-2020 Sponsors
                    </a>
                    <a href="register.html" class="dropDown__link">
                        Become a Delegate
                    </a>
                    <a href="#" class="dropDown__link">
                        Conference Programme
                    </a>
                    <a href="#" class="dropDown__link">
                        Guide to OGT LIVE
                    </a>
                </div>
                <a href="#" class="mobile__nav-link">
                    Next Event
                </a>
                <a href="#" class="mobile__nav-link" onclick="showMore2()">
                    Past Event
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList2">
                    <a href="event.html" class="dropDown__link">
                        Event 1
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 2
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 3
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 4
                    </a>
                </div>
                <a href="gallery.html" class="mobile__nav-link">
                    Photo Gallery
                </a>
                <a href="news.html" class="mobile__nav-link">
                    News
                </a>
                <a href="contact.html" class="mobile__nav-link">
                    Contact us
                </a>
            </div>
        </div>
    </section>
    <!-- mobileMenu end 
========================================= -->
    <!-- hero start
========================================== -->
    <section class="hero" id="feature">     
        <a href="" class="next__event">
            Следующее мероприятие
            <i class="icon-chevronRight"></i>
        </a>
        <div class="auto__container">
            <div class="hero__inner">
                <div class="timer__row">
                    <div class="timer__outer  wow fadeInLeft">
                        <div class="timer">
                            120
                        </div>
                        <div class="timer__text">
                            Дней
                        </div>
                    </div>
                    <div class="timer__outer  wow fadeInUp">
                        <div class="timer">
                            20
                        </div>
                        <div class="timer__text">
                            Часов
                        </div>
                    </div>
                    <div class="timer__outer  wow fadeInUp">
                        <div class="timer">
                            02
                        </div>
                        <div class="timer__text">
                            Минут
                        </div>
                    </div>
                    <div class="timer__outer  wow fadeInRight">
                        <div class="timer">
                            39
                        </div>
                        <div class="timer__text">
                            Секунд
                        </div>
                    </div>
                </div>
                <div class="title wow fadeInUp">
                    Международный инвестиционный форум по привлечению
                    инвестиций в нефтегазовый сектор Туркменистана
                </div>
                <div class="date wow fadeInUp">
                    12-13 Мая, 2021
                </div>
                <div class="location wow fadeInUp">
                    г. Ашхабад, Туркменистан
                </div>
                <div class="btn__row wow fadeInUp">
                    <a href="register.html" class="hero__btn">
                        Зарегистрироваться
                    </a>
                    <a href="#" class="hero__btn">
                        Конференция в прямом эфире
                    </a>
                    <a href="#" class="hero__btn">
                        Программа мероприятия
                    </a>
                </div>
                
            </div>
        </div>
    </section>
    <!-- hero end
========================================== -->
    <!-- about start
========================================== -->
    <section class="about">
        <div class="auto__container">
            <div class="about__inner">
                <div class="content__row">
                    <div class="content__column wow fadeInLeft">
                        <div class="uptitle">
                            О мероприятии
                        </div>
                        <div class="title">
                            Международный инвестиционный форум по привлечению инвестиций в нефтегазовый сектор
                            Туркменистана
                        </div>
                        <p class="quote">
                            Международный инвестиционный форум по привлечению инвестиций в нефтегазовый сектор
                            Туркменистана
                            пройдет 12-13 Мая 2021 года в Ашхабаде. Организаторами выступают Государственный концерн
                            «Туркменгаз» и Государственный концерн «Туркменнебит» в партнерстве с компанией «Turkmen
                            Forum».
                        </p>
                    </div>
                    <div class="content__video wow fadeInRight">
                        <video class="video" src="assets/video/1.mp4" poster="assets/images/news/1.jpg"></video>
                        <div class="playpause"></div>
                    </div>
                </div>
                <p class="para wow fadeInUp">
                    OGT 2021 проводится ежегодно и является престижным бизнес-форумом, cпособствующим развитию и
                    укреплению партнерства с Туркменистаном в нефтегазовой отрасли. В ходе проведения конференции
                    будут представлены: обзор нефтегазового рынка Туркменистана, охватывающий все аспекты
                    деятельности, в том числе и последние газохимические проекты; ведущие эксперты нефтегазовых
                    компаний мира выступят с презентациями, поделятся накопленным опытом. В работе конференции
                    планируют принять участие руководители и представители государственных структур Туркменистана и
                    ведущих нефтегазовых компаний, крупнейших международных организаций и финансовых институтов.
                </p>
                <a href="#" class="more wow fadeInUp">
                    Подробнее
                </a>
                <div class="theme wow fadeInUp">
                    <div class="uptitle">
                        Главные темы
                    </div>
                    <div class="title">
                        Энергетическая дипломатия Туркменистана – залог энергетической безопасности и устойчивого
                        развития в регионе
                    </div>
                    <div class="para__row">
                        <p class="para">
                            Глобальные тенденции на энергетических рынках и перспектива развития взаимовыгодного
                            сотрудничества
                        </p>
                        <p class="para">
                            Привлечение инвестиций в морские блоки
                            Туркменского сектора каспийского моря
                        </p>
                        <p class="para">
                            Разработка существующих нефтяных и газовых месторождений на суше в рамках
                            СРП - новые инвестиционные возможности
                        </p>
                        <p class="para">
                            Монетизация газа: современный газохимический комплекс Туркменистана - образец эффективности
                            и экологической безопасности
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about end
========================================== -->
    <!-- spiker start
========================================== -->
    <section class="spiker">
        <div class="auto__container">
            <div class="spiker__inner">
                <div class="title wow fadeInUp">
                    Спикеры
                </div>
                <div class="spiker__grid ">
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                    <div class="spiker__grid-column titlt" data-tilt data-tilt-max="8">
                        <a href="assets/images/avatar/white.png" class="image__outer primary progressive replace">
                            <img class="preview" src="assets/images/lazy.jpg" alt="">
                        </a>
                        <a href="" class="info">
                            <div class="name">
                                БАТЫР АМАНОВ
                            </div>
                            <div class="position">
                                Государственный министр - Председатель ГК "Туркменгаз"
                            </div>
                        </a>
                    </div>
                </div>
                <a href="#" class="spiker__btn wow fadeInUp">
                    Все спикеры
                </a>
            </div>
        </div>
    </section>
    <!-- spiker end
========================================== -->
    <!-- partner start
========================================== -->
    <section class="partner">
        <div class="auto__container">
            <div class="partner__inner">
                <div class="title">
                    Официальные партнеры
                </div>
                <div class="partner__row  wow fadeInUp">
                    <a href="#" class="image__outer">
                        <img src="assets/images/partner/1/1.png" alt="">
                    </a>
                    <div class="image__outer">
                        <img src="assets/images/partner/1/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/1/3.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/1/4.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/1/5.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/1/6.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/1/7.png" alt="">
                    </div>
                </div>
                <div class="title">
                    Платиновые спонсоры
                </div>
                <div class="partner__row  wow fadeInUp">
                    <div class="image__outer">
                        <img src="assets/images/partner/2/1.png" alt="">
                    </div>
                </div>
                <div class="title">
                    Платиновые спонсоры
                </div>
                <div class="partner__row wow fadeInUp">
                    <div class="image__outer">
                        <img src="assets/images/partner/3/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/3/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/3/3.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/3/4.png" alt="">
                    </div>
                </div>
                <div class="title">
                    Серебряные Спонсоры
                </div>
                <div class="partner__row wow fadeInUp">
                    <div class="image__outer">
                        <img src="assets/images/partner/4/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/4/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/4/3.png" alt="">
                    </div>
                </div>
                <div class="title">
                    Бронзовые Спонсоры
                </div>
                <div class="partner__row wow fadeInUp">
                    <div class="image__outer">
                        <img src="assets/images/partner/5/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/3.png" alt="">
                    </div>
                </div>
                <div class="title">
                    Официальные партнеры
                </div>
                <div class="partner__row wow fadeInUp">
                    <div class="image__outer">
                        <img src="assets/images/partner/5/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/3.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/3.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/3.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/3.png" alt="">
                    </div>

                    <div class="image__outer">
                        <img src="assets/images/partner/5/1.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/2.png" alt="">
                    </div>
                    <div class="image__outer">
                        <img src="assets/images/partner/5/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- partner end
========================================== -->
    <!-- news start
========================================== -->
    <section class="news">
        <div class="auto__container">
            <div class="news__inner">
                <div class="title">
                    Новости
                </div>
                <div class="news__row">
                    <div class="news__column  wow fadeInLeft">
                        <a href="assets/images/news/1.jpg" class="image__outer primary progressive replace">
                            <img src="assets/images/lazy.jpg" alt="">
                            <div class="date">
                                10
                                <br> <span>Сент</span>
                            </div>
                        </a>
                        <a href="#" class="title">
                            Международный морской порт Туркменбаши увеличит пропускную способность для экспорта нефти
                        </a>
                    </div>
                    <div class="news__column wow fadeInUp">
                        <a href="assets/images/news/2.jpg" class="image__outer primary progressive replace">
                            <img src="assets/images/lazy.jpg" alt="">
                            <div class="date">
                                10
                                <br> <span>Сент</span>
                            </div>
                        </a>
                        <div class="title">
                            Международный морской порт Туркменбаши увеличит пропускную способность для экспорта нефти
                        </div>
                    </div>
                    <div class="news__column wow fadeInRight">
                        <a href="assets/images/news/3.jpg" class="image__outer primary progressive replace">
                            <img src="assets/images/lazy.jpg" alt="">
                            <div class="date">
                                10
                                <br> <span>Сент</span>
                            </div>
                        </a>
                        <div class="title">
                            Международный морской порт Туркменбаши увеличит пропускную способность для экспорта нефти
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news end
========================================== -->
    <!-- locate start
========================================== -->
    <section class="locate">
        <div class="auto__container">
            <div class="locate__inner">
                <div class="title wow fadeInLeft">
                    Место проведения
                </div>
                <div class="locate__row">
                    <div class="locate__column">
                        <div class="locate__title wow fadeInUp">
                            Информация о месте проведения
                        </div>
                        <p class="para wow fadeInUp">
                            Торгово-промышленная палата Туркменистана (ТПП) создана в целях содействия развитию
                            экономики Туркменистана, ее интегрированию в мировую хозяйственную систему, формированию
                            современной промышленной, финансовой и торговой инфраструктуры, создания благоприятных
                            условий для предпринимательской деятельности, оказания содействия в установлении
                            торгово-экономических, научных и технических связей с зарубежными партнерами. 24-я
                            Международная конференция «Нефть и газ Туркменистана» пройдет в конференц-зале
                            Торгово-промышленной палаты Туркменистана.
                        </p>
                        <div class="locate__row-sm wow fadeinUp">
                            <div class="icon__outer">
                                <i class="icon-location"></i>
                            </div>
                            <div class="info">
                                <div class="label">
                                    Адрес:
                                </div>
                                <div class="label__text">
                                    г. Ашхабад, шаелы Чандыбиль, 143,
                                </div>
                            </div>
                        </div>
                        <div class="locate__row-sm wow fadeInUp">
                            <div class="icon__outer">
                                <i class="icon-world"></i>
                            </div>
                            <div class="info">
                                <div class="label">
                                    Веб-сайт:
                                </div>
                                <div class="label__text">
                                    <a href="#">
                                        www.cci.gov.tm
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="locate__row-sm wow fadeInUp">
                            <div class="icon__outer">
                                <i class="icon-phone"></i>
                            </div>
                            <div class="info">
                                <div class="label">
                                    Телефон:
                                </div>
                                <div class="label__text">
                                    <a href="#">
                                        (+993 12) 39 89 81 , 39 88 92
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="assets/images/place/1.jpg" class="locate__image primary progressive replace">
                        <img src="assets/images/lazy.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- locate end
========================================== -->
    <!-- footer start
========================================== -->
    <footer class="footer">
        © OGT 2020. Все права защищены
    </footer>
    <!-- footer end
========================================== -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/tilt.jquery.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/lazyLoad.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        $('.video').parent().click(function () {
            if ($(this).children(".video").get(0).paused) {
                $(this).children(".video").get(0).play();
                $(this).children(".playpause").fadeOut();
            } else {
                $(this).children(".video").get(0).pause();
                $(this).children(".playpause").fadeIn();
            }
        });
        // wow js
        // ========================================

// wow js end
// ========================================
    </script>
</body>

</html>