<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Conference</title>
</head>

<body>
    <!-- topHeader start
========================================== -->
    <div class="topHeader">
        <div class="auto__container">
            <div class="topHeader__inner">
                <div class="info__row">
                    <a href="#" class="info__row-link">
                        <i class="icon-phone"></i>
                        (+993 12) 92 35 52, 92 03 99
                    </a>
                    <a href="#" class="info__row-link">
                        <i class="icon-mail"></i>
                        info@turkmen-forum.com
                    </a>
                </div>
                <div class="social__row">
                    <a href="#" class="social__row-link">
                        <i class="icon-facebook"></i>
                    </a>
                    <a class="social__row-link">
                        <i class="icon-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- topHeader end
========================================== -->
    <!-- logoRow start
========================================== -->
    <section class="logoRow">
        <div class="auto__container">
            <div class="logoRow__inner">
                <div class="logoRow__inner-column">
                    <div class="logo__outer">
                        <img src="assets/images/logos/1.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/2.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/3.png" alt="">
                    </div>
                    <div class="logo__outer">
                        <img src="assets/images/logos/4.png" alt="">
                    </div>
                </div>
                <div class="logoRow__inner-column">
                    <select name="language" id="">
                        <option value="0">Русский</option>
                        <option value="1">English</option>
                        <option value="2">Turkmen</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <!-- logoRow end
========================================== -->
    <!-- header start
========================================== -->
    <header class="header" id="headerSticky">
        <div class="auto__container">
            <div class="ham">

            </div>
            <div class="header__inner">
                <div class="nav">
                    <div href="#" class="nav__link pop">
                        About Conference
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="aboutConf.html" class="pop__link">
                                About Conference
                            </a>
                            <a href="overview.html" class="pop__link">
                                Market Overview
                            </a>
                            <a href="support.html" class="pop__link">
                                Official Support
                            </a>
                            <a href="speaker.html" class="pop__link">
                                Speakers
                            </a>
                            <a href="#" class="pop__link">
                                Online Conference
                            </a>
                            <a href="portal.html" class="pop__link">
                                Presentation portal
                            </a>
                            <a href="participant.html" class="pop__link">
                                Participating Companies
                            </a>
                            <a href="sponsor.html" class="pop__link">
                                OGT-2020 Sponsors
                            </a>
                            <a href="register.html" class="pop__link">
                                Become a Delegate
                            </a>
                            <a href="#" class="pop__link">
                                Conference Programme
                            </a>
                            <a href="#" class="pop__link">
                                Guide to OGT LIVE
                            </a>
                        </div>
                    </div>
                    <a href="#" class="nav__link">
                        Next Event
                    </a>
                    <div href="#" class="nav__link pop">
                        Past Event
                        <i class="icon-chevronRight"></i>
                        <div class="pop__inner">
                            <a href="event.html" class="pop__link">
                                Event 1
                            </a>
                            <a href="#" class="pop__link">
                                Event 2
                            </a>
                            <a href="#" class="pop__link">
                                Event 3
                            </a>
                            <a href="#" class="pop__link">
                                Event 4
                            </a>
                        </div>
                    </div>
                    <a href="gallery.html" class="nav__link">
                        Photo Gallery
                    </a>
                    <a href="news.html" class="nav__link">
                        News
                    </a>
                    <a href="contact.html" class="nav__link">
                        Contact us
                    </a>
                </div>

            </div>
        </div>
    </header>
    <!-- header end
========================================== -->
    <!-- mobileHeader start
======================================== -->
    <section class="mobileHeader">
        <div class="mobileHeader__inner">
            <div class="mobileLogo__row">
                <div class="mobileLogo">
                    <img src="assets/images/logos/1.png" alt="">
                </div>
            </div>
            <div class="mobileBtns">
                <button class="popBtn" id="mobileMenuBtn">
                    <img src="assets/images/Union 1.svg" alt="">
                </button>
            </div>
        </div>
    </section>
    <!-- mobileHeader end
======================================== -->
    <!-- mobileMenu start 
========================================= -->
    <section class="pop" id="mobileMenu">
        <div class="popClose" id="mobileMenuClose">
            <img src="assets/images/Close Black.svg" alt="">
        </div>
        <div class="pop__inner">
            <div class="mobile__nav">
                <a href="#" class="mobile__nav-link" onclick="showMore()">
                    About Conference
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList">
                    <a href="aboutConf.html" class="dropDown__link">
                        About Conference
                    </a>
                    <a href="overview.html" class="dropDown__link">
                        Market Overview
                    </a>
                    <a href="support.html" class="dropDown__link">
                        Official Support
                    </a>
                    <a href="speaker.html" class="dropDown__link">
                        Speakers
                    </a>
                    <a href="#" class="dropDown__link">
                        Online Conference
                    </a>
                    <a href="portal.html" class="dropDown__link">
                        Presentation portal
                    </a>
                    <a href="participant.html" class="dropDown__link">
                        Participating Companies
                    </a>
                    <a href="sponsor.html" class="dropDown__link">
                        OGT-2020 Sponsors
                    </a>
                    <a href="register.html" class="dropDown__link">
                        Become a Delegate
                    </a>
                    <a href="#" class="dropDown__link">
                        Conference Programme
                    </a>
                    <a href="#" class="dropDown__link">
                        Guide to OGT LIVE
                    </a>
                </div>
                <a href="#" class="mobile__nav-link">
                    Next Event
                </a>
                <a href="#" class="mobile__nav-link" onclick="showMore2()">
                    Past Event
                    <div class="icon__outer">
                        <i class="icon-chevronRight"></i>
                    </div>
                </a>
                <div class="dropDown" id="showMoreList2">
                    <a href="event.html" class="dropDown__link">
                        Event 1
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 2
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 3
                    </a>
                    <a href="#" class="dropDown__link">
                        Event 4
                    </a>
                </div>
                <a href="gallery.html" class="mobile__nav-link">
                    Photo Gallery
                </a>
                <a href="news.html" class="mobile__nav-link">
                    News
                </a>
                <a href="contact.html" class="mobile__nav-link">
                    Contact us
                </a>
            </div>
        </div>
    </section>
    <!-- mobileMenu end 
========================================= -->
    <!-- event start
========================================== -->
    <section class="hero__3" id="feature">
        <div class="auto__container">
            <div class="hero__3__inner">
                <div class="title">
                    Что такое онлайн-конференция
                </div>
            </div>
        </div>
    </section>
    <!-- event end
========================================== -->
    <!-- conf start
========================================== -->
    <section class="other">
        <div class="auto__container">
            <div class="other__inner">
                <div class="online">
                    <div class="title">
                        О конференции
                    </div>
                    <p class="para">
                        Из-за сложившейся ситуации в связи с пандемией COVID-19 в мире, мы внедряем он-лайн формат
                        участия в XXV Международной конференции «Нефть и Газ Туркменистана 2020» для тех, кто находится
                        за рубежом.
                    </p>
                    <div class="online__row-3">
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/1.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Экономия на затратах
                            </div>
                            <p class="para">
                                Вы сократите свои расходы за перелет и проживание, питание и транспорт. Вы платите
                                только за место участника.
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/2.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Без отрыва от производства
                            </div>
                            <p class="para">
                                Находясь на своем месте, можете продолжать управлять бизнесом, решать рабочие вопросы и
                                контролировать процесс производства.
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/3.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Общение
                            </div>
                            <p class="para">
                                Возможность общаться с другими участниками, назначать встречи со спикерами, делиться
                                своими идеями с докладчиками и экспертами, обсуждать актуальные проблемы отрасли.
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/4.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Личная безопасность
                            </div>
                            <p class="para">
                                Вы не подвергаете себя риска заразиться в пути и избавляетесь от дополнительных хлопот
                                проходить медицинские тесты и приобретать страховки.
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/5.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Материалы конференции
                            </div>
                            <p class="para">
                                Онлайн участники получат доступ ко всем материалам и записям конференции после ее
                                завершения.
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/6.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Сотрудничество
                            </div>
                            <p class="para">
                                Вы сохраняете все преимущества очного участия – возможность деловых переговоров и
                                подписания контрактов.
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        Условия для он-лайн участников
                    </div>
                    <div class="online__row-4">
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/7.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Дата и время
                            </div>
                            <p class="para">
                                Быть готовыми к участию в конференции, учитывая разницу во временных поясах (часовой
                                пояс Туркменистана (GMT+5)
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/2.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Качество изображения и звука
                            </div>
                            <p class="para">
                                Необходимо настроить устройство, чтобы Вас было хорошо видно и слышно. Обеспечить
                                быстрое и стабильное соединение Интернет
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/3.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Программное обеспечение
                            </div>
                            <p class="para">
                                Установить бесплатное приложение Zoom, через которое будет транслироваться конференция
                            </p>
                        </div>
                        <div class="online__column">
                            <div class="icon__outer">
                                <img src="assets/images/online/4.svg" alt="">
                            </div>
                            <div class="subtitle">
                                Задать вопросы
                            </div>
                            <p class="para">
                                Заранее подать заявку, чтобы задать вопросы экспертам на панельных сессиях и
                                договориться об он-лайн встречах с руководством нефтегазового комплекса
                            </p>
                        </div>
                    </div>
                    <div class="title">
                        Зачем участвовать
                    </div>
                    <p class="para">
                        Нефтегазовая отрасль всегда была и остаётся одной из наиболее высокотехнологичных, наукоёмких и
                        инновационных отраслей в мире. Но в условиях глобальной геополитической нестабильности компании
                        отрасли сталкиваются с целым рядом проблем, включая замедление роста мирового спроса на
                        энергоресурсы, усиление конкуренции на фоне острого дефицита инвестиций, старения основных
                        фондов и снижения минерально-сырьевой базы, а также необходимость внедрения альтернативных
                        источников энергии. И только комплексный подход поможет справиться с этими вызовами, а участие в
                        XXV Международной конференции «Нефть и Газ Туркменистана 2020» поможет вам разработать и
                        внедрить такой подход.
                    </p>
                    <ul class="online__list">
                        <li>
                            <strong>Будьте в курсе</strong> актуальных тенденций отрасли и опыта экспертов со всего
                            мира;
                        </li>
                        <li>
                            <strong>Откройте</strong> для себя новейшие технологии, чтобы повысить эффективность работы
                            вашей компании;
                        </li>
                        <li>
                            <strong>Обогатите</strong> свои технические знания с помощью передовых методов, техник и
                            инноваций;
                        </li>
                        <li>
                            <strong>Обменивайтесь</strong> Обменивайтесь знаниями и опытом с вашими коллегами и
                            отраслевыми экспертами.
                        </li>
                    </ul>
                    <div class="title">
                        Кто участвует
                    </div>
                    <p class="para">
                        Став участником конференции, вы получите возможность встретить более 500 специалистов и
                        экспертов из 200 компаний со всего мира, включая таких "гигантов", как Газпром, Petronas, ENI,
                        CNPC, Exxon Mobil, Dragon Oil, BP, SOCAR, Vitol, Technip, ЛУКОЙЛ, Total, Halliburton,
                        Schlumberger, Baker Hughes, BASF, IBM и др.
                    </p>
                    <div class="graph__row">
                        <div class="image__outer">
                            <img src="assets/images/graph/graph1.svg" alt="">
                        </div>
                        <div class="image__outer">
                            <img src="assets/images/graph/label1.svg" alt="">
                        </div>
                    </div>
                    <div class="graph__row-2">
                        <div class="image__outer">
                            <img src="assets/images/graph/label2.svg" alt="">
                        </div>
                        <div class="image__outer">
                            <img src="assets/images/graph/graph2.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- conf start
========================================== -->
    <!-- footer start
========================================== -->
    <footer class="footer">
        © OGT 2020. Все права защищены
    </footer>
    <!-- footer end
========================================== -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/tilt.jquery.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/lazyLoad.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>